.git
.github
.env
.env.*
**/.venv
**/__pycache__
**/*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
data
docs
tests
notebooks
ml/runs
ml/reports
ml/cache
ml/checkpoints
**/*.pt
**/*.pth
*.md
.vscode
encoder
*.log
*.sqlite
*.sqlite3
